.audio-player {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    background-color: #000;
    height: 70px; /* Increased height for better UI */
    padding: 10px; /* Added padding for spacing */
}

.audio-controls {
    display: flex;
    gap: 10px;
    width: 50px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.audio-controls button {
    width: 40px; /* Adjusted button size */
    height: 40px; /* Adjusted button size */
    border: none;
    border-radius: 50%; /* Circular button */
    background-color: #6fbf7e;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Added cursor style */
}

.progress-bar {
    flex-grow: 1; /* Expanded progress bar to fill available space */
    height: 9px; /* Reduced progress bar height */
    border-radius: 4px; /* Slightly rounded corners */
    background-color: #333;
    position: relative;
    overflow: hidden; /* Added overflow to hide progress indicator overflow */
}

.progress {
    height: 100%;
    width: 0;
    border-radius: 4px; /* Slightly rounded corners */
    background-color: #6fbf7e;
    position: absolute; /* Positioned absolutely within the progress bar */
    top: 0;
    left: 0;
}

.progress-bar input {
    width: 100%;
    margin-top: -10px;
}